@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  background: #f8fafc;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #0f172a;
  color: white;
}